{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row align-items-start">
        <div class="list-group mt-5 col-3">
            <p>List of all categories registered</p>
            {% for category in categories %}
                <a href="{{ category.get_absolute_url }}" class="list-group-item list-group-item-action">{{ category.name|title }}</a>
            {% endfor %}
        </div>
      <div class="col m-5 col-6">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
      </div>
    </div>
    </div>

{% endblock %}
